Mail-Phishing/bin/Debug/EntityFramework.dll
Mail-Phishing/bin/Debug/EntityFramework.xml
Mail-Phishing/bin/Debug/LocalDB.sdf
Mail-Phishing/bin/Debug/Mail-Phishing.exe
Mail-Phishing/bin/Debug/Mail-Phishing.exe.config
Mail-Phishing/bin/Debug/Mail-Phishing.pdb
Mail-Phishing/bin/Debug/Mail-Phishing.vshost.exe
Mail-Phishing/bin/Debug/Mail-Phishing.vshost.exe.config
Mail-Phishing/bin/Debug/Mail-Phishing.vshost.exe.manifest
Mail-Phishing/bin/Release/LocalDB.sdf
Mail-Phishing/bin/Release/Mail-Phishing.exe.config
Mail-Phishing/bin/Release/Mail-Phishing.vshost.exe
Mail-Phishing/bin/Release/Mail-Phishing.vshost.exe.config
Mail-Phishing/bin/Release/Mail-Phishing.vshost.exe.manifest
Mail-Phishing/Mail-Phishing.csproj
Mail-Phishing/Mail-Phishing.v12.suo
Mail-Phishing/obj/Debug/App.g.cs
Mail-Phishing/obj/Debug/App.g.i.cs
Mail-Phishing/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Mail-Phishing/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Mail-Phishing/obj/Debug/EditMailTemplatesWindow.baml
Mail-Phishing/obj/Debug/EditMailTemplatesWindow.g.cs
Mail-Phishing/obj/Debug/EditMailTemplatesWindow.g.i.cs
Mail-Phishing/obj/Debug/Mail_Phishing.Properties.Resources.resources
Mail-Phishing/obj/Debug/Mail-Phishing.csproj.FileListAbsolute.txt
Mail-Phishing/obj/Debug/Mail-Phishing.csproj.GenerateResource.Cache
Mail-Phishing/obj/Debug/Mail-Phishing.csprojResolveAssemblyReference.cache
Mail-Phishing/obj/Debug/Mail-Phishing.exe
Mail-Phishing/obj/Debug/Mail-Phishing.g.resources
Mail-Phishing/obj/Debug/Mail-Phishing.pdb
Mail-Phishing/obj/Debug/Mail-Phishing_Content.g.cs
Mail-Phishing/obj/Debug/Mail-Phishing_Content.g.i.cs
Mail-Phishing/obj/Debug/Mail-Phishing_MarkupCompile.cache
Mail-Phishing/obj/Debug/Mail-Phishing_MarkupCompile.i.cache
Mail-Phishing/obj/Debug/MainWindow.baml
Mail-Phishing/obj/Debug/MainWindow.g.cs
Mail-Phishing/obj/Debug/MainWindow.g.i.cs
Mail-Phishing/obj/Debug/SelectMailTemplateWindow.baml
Mail-Phishing/obj/Debug/SelectMailTemplateWindow.g.cs
Mail-Phishing/obj/Debug/SelectMailTemplateWindow.g.i.cs
Mail-Phishing/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Mail-Phishing/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Mail-Phishing/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Mail-Phishing/obj/Debug/TempPE/LocalDBDataSet.Designer.cs.dll
Mail-Phishing/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Mail-Phishing/obj/Release/App.g.cs
Mail-Phishing/obj/Release/App.g.i.cs
Mail-Phishing/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Mail-Phishing/obj/Release/EditMailTemplatesWindow.g.cs
Mail-Phishing/obj/Release/EditMailTemplatesWindow.g.i.cs
Mail-Phishing/obj/Release/edmxResourcesToEmbed/LocalDbModel.csdl
Mail-Phishing/obj/Release/edmxResourcesToEmbed/LocalDbModel.msl
Mail-Phishing/obj/Release/edmxResourcesToEmbed/LocalDbModel.ssdl
Mail-Phishing/obj/Release/Mail-Phishing.csproj.FileListAbsolute.txt
Mail-Phishing/obj/Release/Mail-Phishing.csprojResolveAssemblyReference.cache
Mail-Phishing/obj/Release/Mail-Phishing_Content.g.i.cs
Mail-Phishing/obj/Release/Mail-Phishing_MarkupCompile.cache
Mail-Phishing/obj/Release/Mail-Phishing_MarkupCompile.i.cache
Mail-Phishing/obj/Release/Mail-Phishing_MarkupCompile.lref
Mail-Phishing/obj/Release/MainWindow.baml
Mail-Phishing/obj/Release/MainWindow.g.cs
Mail-Phishing/obj/Release/MainWindow.g.i.cs
Mail-Phishing/obj/Release/SelectMailTemplateWindow.g.cs
Mail-Phishing/obj/Release/SelectMailTemplateWindow.g.i.cs
Mail-Phishing/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Mail-Phishing/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Mail-Phishing/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Mail-Phishing/obj/Release/TempPE/LocalDBDataSet.Designer.cs.dll
Mail-Phishing/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
